body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin:0;
    overflow-x: hidden;
       
}
/*general classes*/

#hide-on-mobile{
   display: none; 
}
.mobile-only{
    display: block;
}
.desktop-only{
    display: none;
}

/*header section*/

.icons li{
    font-size: 15px;
    display: inline;
    position: relative;
    top: 25px;
    left: -30px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
}
a{
    text-decoration: none;
    color: white;
}
a hover{
    text-decoration: none;
}
/*styling the burger menu*/
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 300px;
    bottom: 30px;
    border: white solid 1px;
    width: 40px;
    border-radius: 50%;
    padding:5px;
    align-items: center;
  }
  
  .bar1, .bar2, .bar3 {
    width: 13px;
    height: 1.5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.2s;
    position: relative;
    left:5px;    
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /*end of styling the menu*/

/*navbar styling*/

#navbar{
    float: right;
    background-color:none;
    position: relative;
    bottom: 35px;

    
}
ul li{
    display: none;
    margin-left: 3px;
}

/* name and line section*/

 .name{
     font-size: 40px;
     position: relative;
     top:-20px;
     left:100px;
     color: #eb5e28;     
 }
  .line{
      width:90vw;
      margin: auto;
      background-color: white;
      height: 1px;
      position: relative;
      top: -20px;
  }

  .me{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX;
    font-size: 40px;
  }

  /*details about me*/
  .details{
    width:100vw;
    height: 320vh;
    margin-top: 70px;
    background-color: rgb(37, 37, 37);
  }
.deco{
      position: relative;
      left: 150px;
      top: 40px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 50%;
      border: 1px solid #f7931e;
      background-color: #f7931e;
      padding: 10px;
      color: black;
      font-weight: bolder;

  }

  .juniour{
      font-size: 16px;
      font-weight: bold;
      color: #f7931e;
      position: relative;
      left: 70px;
      top: 70px;

  }
  .achieve{
      margin-top: 80px ;
  }
  .accomplishments{
    font-size: 16px;
    font-weight: bold;
    color: #f7931e;
    position: relative;
    left: 70px;
    top: 70px;
  }
  .Skills{
      font-size: 12px;
      width: 80%;
      position: relative;
      left: 45px;
      top: 70px;   
    
  }
  .passion{
    position: relative;
    top: 50px;
    left: 50px;

}
.MyP{
    font-size: 18px;
    font-weight: bold;
    color: #f7931e;
    position: relative;
    left: 98px;
    top: 180px;
}
.passion i{
    position: relative;
    left: 98px;
}
.write{
    font-size: 12px;
    width:80%;
    position: relative;
    top: 120px;
    left: -10px;
}
  .plan{
      margin-top: 180px;
  }
  .Goals{
    font-size: 16px;
    font-weight: bold;
    color: #f7931e;
    position: relative;
    left: 115px;
    top: 70px;
  }
  .GoalT{
    font-size: 12px;
    width: 80%;
    position: relative;
    left: 45px;
    top: 70px; 
  }
 /*Footer section*/

 
.footer{
    margin-top: 60px;
}
.Ficons li{
    font-size: 20px;
    display: inline;
    position: relative;
    top: 25px;
    left: 60px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
    
}
.copy{
    font-size: 12px;
    color: gray;
    position: relative;
    left: 75px;
    top: 15px;
}
.nna{
    color: #f7931e;
    font-size: 12px;
    position: relative;
    left: 228px;
    bottom:19px;
}


/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    /* general classes*/
   /* .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    }*/

    /*header section*/

    .block{
        height:20vw;
    }
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
   /*general classes*/
 
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*general classes*/

}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 

.mobile-only{
    display: none;
}
.desktop-only{
    display: block;
}
    .details{
        margin: auto;
        width: 90vw;
        height: 1100px;
        margin-top: 100px;
    }
        
    .icons{
        position: relative;
        left: 1280px;
        top: 10px;
    }
    .name{
        position: relative;
        left: 670px;
        top: -30px;
    }
    
    .deco{
        position: relative;
        left: 150px;
        top: 40px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid #f7931e;
        background-color: #f7931e;
        padding: 20px;
        color: black;
        font-weight: bolder;
    }
    .intro i{
        background-color: white;
        border: white;
        position: relative;
        left: 350px;

    }

    .intro{
        width: 80%;
        height: 150px;
        background-color: #eb5e28;
        position: relative;
        left: 150px;
        top: 100px;
    }
    .juniour{
        font-size: 18px;
        position: relative;
        left: 450px;
        top: -8px;
        font-weight: bolder;
        color: black;
    }
    .achieve{
        position: relative;
        top: 95px; 
        left: 150px;
    }
    .accomplishments{
        font-size: 18px;
    }
    .Skills{
        font-size: 13px;
        width: 40%;
        position: relative;
        left: -10px;
    }
    .plan{
        position: relative;
        left: 800px;
        bottom: 670px;
    }
    .Goals{
        font-size: 18px;
    }
    .GoalT{
        font-size: 13px;
        width: 40%;
        position: relative;
        left: -30px;
    }
    .passion{
        position: relative;
        top: 100px;
        left: 150px;

    }
    .passion i{
        position: relative;
        left: 150px;
    }
    .MyP{
        font-size: 18px;
        font-weight: bold;
        color: #f7931e;
        position: relative;
        left: 158px;
        top: 180px;
    }
    .write{
        font-size: 13px;
        width: 40%;
        position: relative;
        top: 100px;
        left: -10px;
    }
    .Ficons li{
        position: relative;
        left:600px;
    }
    .copy{
        position: relative;
        left: 620px;
    
    }
    .nna{
        position: relative;
        left: 775px;
    
    }

}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
