body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin:0;
    overflow-x: hidden;    
}

/*general classes*/

#hide-on-mobile{
    display: none; 
 }
 .mobile-only{
     display: block;
 }
 .desktop-only{
     display: none;
 }
 
 /*header section*/
 
 .icons li{
    font-size: 15px;
    display: inline;
    position: relative;
    top: 25px;
    left: -30px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
}
 a{
     text-decoration: none;
     color: white;
 }
 a hover{
     text-decoration: none;
 }

 /*styling the burger menu*/
 .container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 300px;
    bottom: 30px;
    border: white solid 1px;
    width: 10px;
    border-radius: 50%;
    padding:5px;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 15px;
    height: 1.5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.2s;
    position: relative;
    left:5px;  
    align-items: center;  
  }
   
   .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
   }
   
   .change .bar2 {opacity: 0;}
   
   .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
   }
   /*end of styling the menu*/
 
 /*navbar styling*/
 
 #navbar{
     float: right;
     background-color:none;
     position: relative;
     bottom: 35px;
     z-index: 1;
     display: none;
 }
 ul li{
     display: none;
     margin-left: 3px;
 }

 
 /* name and line section*/
 
/*name section*/

.name{
    font-size: 40px;
    position: relative;
    top:-20px;
    left:100px;
    color: #eb5e28;     
}
 .line{
     width:90vw;
     margin: auto;
     background-color: white;
     height: 1px;
     position: relative;
     top: -20px;
 }

/*get in touch section*/
.reach{
    width:100vw;
    height: 120vh;
    margin-top: 70px;
    background-color: rgb(36, 35, 35);
}

.touch{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX; 
}
.touchT{
    font-size: 12px;
    width: 90vw;
    position: relative;
    left:15px;
    margin-top: 30px;
}

form{
    margin: 50px;
    
}

.contactForm1{
    width: 100%;
    height: 30px;
    background-color: gray;
    border: none;
    
}
.contactForm2{
    margin-top: 10px;
    width: 100%; 
    height: 30px;   
    background-color: gray;
    border: none;

}
.contactForm3{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: gray;
    border: none;
}
::placeholder{
    color: white;
    font-size: 15px;
}

.send{
    background-color: #eb5e28;
    color: white;
    font-weight: 500;
    width: 200px;
    height:50px;
    border-radius: 20%;
    position: relative;
    top:20px;
    left: 30px;
    border: none;
    font-size: 18px;

}
/*section for the footer*/

.footer{
    margin-top: 60px;
}
.Ficons li{
    font-size: 20px;
    display: inline;
    position: relative;
    top: 25px;
    left: 60px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
    
}
.copy{
    font-size: 12px;
    color: gray;
    position: relative;
    left: 75px;
    top: 15px;
}
.nna{
    color: #f7931e;
    font-size: 12px;
    position: relative;
    left: 227px;
    top:-12px;
}

/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    /* general classes*/
   /* .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    }*/

    /*header section*/

    .block{
        height:20vw;
    }
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
   /*general classes*/
 
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*general classes*/

}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
body{
            background-color:black;
            color: white;
            font-family: Montserrat;
            font-size: 1.5em;
            margin:0;
            padding: 0;
            overflow-x: hidden;
        }
        

/*get in  toc section*/
.reach{
    width: 90vw;
    height: 800px;
    margin: auto;
    margin-top: 100px;
}

.touch{
    position: relative;
    left: 350px;
    top:50px;
    font-size:50px;
    width: 50%;
}

.touchT{
    font-size: 18px;
    position: relative;
    top: 80px;
    left: 150px;
    width: 80%;
}
form{
    position: relative;
    top: 80px;
    left: 150px;
    width: 70%;
    
}
.send{
    position: relative;
    left: 380px;
}

.footer{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Ficons li{
    margin-left: 5px;
    position: relative;
    left: 600px;
}

 /*general classes*/
/*.tablet-only{
    display: none;
}*/
.desktop-only{
    display: block
}
.copy{
    position: relative;
    left: 620px;

}
.nna{
    position: relative;
    left: 775px;
    top: -12px;

}
 /*header section*/
/* .block{
     margin-top: 10px;
 }

 .red-block{
     background-color: red;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-left: 200px;

 }*/
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}