body{
    background-color:black;
    color: white;
    font-family: Montserrat;
    font-size: 1.5em;
    padding: 0;
    margin:0;
    overflow: hidden;    
}
/*general classes*/

#hide-on-mobile{
   display: none; 
}
.mobile-only{
    display: block;
}
.desktop-only{
    display: none;
}

/*header section*/

.icons li{
    font-size: 15px;
    display: inline;
    position: relative;
    top: 25px;
    left: -30px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
}
a{
    text-decoration: none;
    color: white;
}

.close{
    position: relative;
    left: 300px;
    bottom: 30px;
    border: white solid 1.5px;
    padding:5px;
    padding-right: 3px;
    border-radius: 50%;
    width: 20px;
    font-size: 20px;
}

.items li{
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
}