body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin:0;
    overflow-x: hidden;    
}
/*general classes*/

#hide-on-mobile{
   display: none; 
}
.mobile-only{
    display: block;
}
.desktop-only{
    display: none;
}

/*header section*/

.icons li{
    font-size: 20px;
    display: inline;
    position: relative;
    top: 25px;
    left: -30px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
}
a{
    text-decoration: none;
    color: white;
}
a hover{
    text-decoration: none;
}
/*styling the burger menu*/
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 290px;
    bottom: 30px;
    border: white solid 1px;
    width: 50px;
    border-radius: 50%;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-items: center;
  }
  
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
    
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /*end of styling the menu*/

/*navbar styling*/

#navbar{
    float: right;
    background-color:none;
    position: relative;
    bottom: 35px;
    z-index: 1;
    display: none;
}
ul li{
    display: none;
    margin-left: 3px;
}

/* name and line section*/

 .name{
     font-size: 40px;
     position: relative;
     top:-20px;
     left:100px;
     color: #eb5e28;     
 }
  .line{
      width:90vw;
      margin: auto;
      background-color: white;
      height: 1px;
      position: relative;
      top: -20px;
  }

  /*tag section*/
  .hi{
      font-size: 100px;
  }
  

  .tag{
    width:360px;
    height:55vh;
    text-align: center;
    background-color: rgb(63, 62, 62);
    margin-top: 25px;
  }
  .tagT{
    color: #f7931e;
  }

  /*about me section*/

  .about{
      width:100vw;
      height: 120vh;
      margin-top: 70px;
      background-color: rgb(63, 62, 62);
  }

  .aboutMe{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX;
  }
/*i made a square div so it can be behind the image*/

  .square{
      width: 180px;
      height:180px;
      background-color: grey;
      position: relative;
      left: 80px;
      top:35px;    
  }

  img{
      width: 180px;
      position: relative;
      left: 109px;
      bottom: 115px;
  }
  

  .aboutT{
      font-size: 12px;
      position: relative;
      bottom: 80px;
      left: 50px;
      width:80vw;
      
  }
  .aboutT1{
    font-size: 12px;
    position: relative;
    bottom: 80px;
    left: 50px;
    width:80vw;
    
}
/*this button will not show on desktop, only on mobile*/

.aboutbtn{
    background-color: #eb5e28;
    color: white;
    font-weight: 500;
    width: 200px;
    height:50px;
    border-radius: 20%;
    position: relative;
    bottom: 70px;
    left: 75px;
    border: none;
    font-size: 18px;
}

/*i'm an ada graduate section*/

.grad{
    width:100vw;
    height: 170vh;
    margin-top: 70px;
    background-color: rgb(63, 62, 62);  
}

.Im{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX;    
}


.logo{
    width: 250px;
    position: relative;
    top: 70px;
    left: 50px;
}
.gradT{
    font-size: 12px;
    width: 80vw;
    position: relative;
    left: 40px;
    top: 120px;
    

}
.gradT1{
    font-size: 12px;
    width: 80vw;
    position: relative;
    left: 40px;
    top: 120px;
}
.journey{
    background-color: gray;
    color: white;
    font-weight: 500;
    width: 200px;
    height:50px;
    border-radius: 20%;
    position: relative;
    top: 140px;
    left: 75px;
    border: none;
    font-size: 18px;
}
.cv{
    background-color: #eb5e28;
    color: white;
    font-weight: 500;
    width: 200px;
    height:50px;
    border-radius: 20%;
    position: relative;
    top: 160px;
    left: 75px;
    border: none;
    font-size: 18px;
}

/*testimonial section*/

.testimonial{
    width:100vw;
    height: 210vh;
    margin-top: 70px;
    background-color: rgb(63, 62, 62);
}

.word{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX; 
}
.placeholder{
    width: 90px;
    height:90px;
    position: relative;
    top: 100px;
    left: 30px;
}

.call{
    width: 90px;
    height:90px;
    text-align: center;
    position: relative;
    top:100px;
    left: 30px;    
    background-color: #eb5e28;
}

.text{
    font-size: 12px;
    width:55%;
    position: relative;
    left: 130px;
    bottom: 80px;
}
.min{
    font-size: 12px;
}
.laura{
    position: relative;
    bottom: 150px;
}
.kate{
    position: relative;
    bottom: 300px;
}
.andy{
    position: relative;
    bottom: 450px;
}
/*end of testiminials*/

/*get in touch section*/
.reach{
    width:100vw;
    height: 120vh;
    margin-top: 70px;
    background-color: rgb(36, 35, 35);
}

.touch{
    color: #f7931e;
    text-align: center;
    position: relative;
    top: 20PX; 
}
.touchT{
    font-size: 12px;
    width: 90vw;
    position: relative;
    left:15px;
    margin-top: 30px;
}

form{
    margin: 50px;
}

.contactForm1{
    width: 100%;
    background-color: gray;
    border: none;
    
}
.contactForm2{
    margin-top: 10px;
    width: 100%;    
    background-color: gray;
    border: none;

}
.contactForm3{
    margin-top: 10px;
    width: 100%;
    background-color: gray;
    border: none;
}
::placeholder{
    color: white;
    font-size: 15px;
}

.send{
    background-color: #eb5e28;
    color: white;
    font-weight: 500;
    width: 200px;
    height:50px;
    border-radius: 20%;
    position: relative;
    top:20px;
    left: 30px;
    border: none;
    font-size: 18px;

}
/*section for the footer*/

.footer{
    margin-top: 60px;
}
.Ficons li{
    font-size: 20px;
    display: inline;
    position: relative;
    top: 25px;
    left: 60px;
    cursor: pointer;
    border: white 1.5px solid;
    border-radius: 50%;
    padding: 4px;
    
}
.copy{
    font-size: 12px;
    color: gray;
    position: relative;
    left: 75px;
    top: 15px;
}
.nna{
    color: #f7931e;
    font-size: 12px;
    position: relative;
    left: 227px;
    bottom:19px;
}





/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    /* general classes*/
   /* .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    }*/

    /*header section*/

    .block{
        height:20vw;
    }
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
   /*general classes*/
 
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*general classes*/

}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
body{
            background-color:black;
            color: white;
            font-family: Montserrat;
            font-size: 1.5em;
            margin:0;
            padding: 0;
            overflow-x: hidden;
        }
        .mobile-only{
            display: none;
        }
        .desktop-only{
            display: block;
        }

 .icons{
     position: relative;
     left: 1220px;
     top: 20px;
 } 
 .icons li{
    margin-left: 0px;
 }  
 #navbar{
     position: relative;
     left: -250px;
     top: 1000px;
 }   
 ul li{
    display: inline;
    margin-left: 40px;
    position: relative;
    left: 350px;
    top: 160px;
}
 .name{
     font-size: 50px;
     position: relative;
     top: -50px;
     left: 600px;
 }

 .tag{
     width: 90vw;
     margin: auto;
     margin-top: 100px;
 }
 .hi{
    position: relative;
    top: 50px;
 }
 .tagT{
     width: 40%;
     position: relative;
     left: 430px;
     top: 50px;
 }
 .about{
    width: 90vw;
    height: 550px;
    margin: auto;
    margin-top: 100px;
 }
 .aboutMe{
     font-size: 50px;
     position: relative;
     top: 80px;
     left: 200px;
 }
 img{
    width: 250px;
    position: relative;
    bottom: 180px;
 }
 .square{
     width: 250px;
     height: 250px;
 }
.imgage{
    position: relative;
    top: 30px;
}

.aboutT{
    font-size: 18px;
    position: relative;
    left: 550px;
    bottom: 380px;
    width: 50%;


}
.aboutT1{
    font-size:18px;
    position: relative;
    left: 550px;
    bottom: 380px;
    width: 50%;
}
.aboutbtn{
    position: relative;
    bottom: 350px;
    left: 600px;
}
.grad{
    width: 90vw;
    height: 900px;
    margin: auto;
    margin-top: 100px;
}
.Im{
    position: relative;
    left: 520px;
    top:50px;
    font-size:50px;
    width: 50%;
}
.logo{
    width: 400px;
    position: relative;
    top: 100px;
}
.gradT{
    font-size:18px;
    position: relative;
    left: 550px;
    top: -150px;
    width: 50%;
    
}
.gradT1{
    font-size:18px;
    position: relative;
    left: 550px;
    top: -150px;
    width: 50%;
    
}
.journey{
    position: relative;
    top: -130px;
    left: 600px;
}
.cv{
    position: relative;
    top: -130px;
    left: 680px;
}

/*testimonial section*/
.testimonial{
    width: 90vw;
    height: 900px;
    margin: auto;
    margin-top: 100px;
}

.word{
    position: relative;
    left: 350px;
    top:50px;
    font-size:50px;
    width: 50%;
}
.placeholder{
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 350px;
    height:100px;
    
}
.call{
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 350px;
    height:100px;
   
    
}
.min{
    font-size: 18px;
}
.text{
    font-size:16px;
    width: 20%;
    position: relative;
    left: 350px;
    bottom: 120px;
}

.kate{
    position: relative;
    left: 600px;
    bottom: 1100px;
}
.andy{
    position: relative;
    left: 600px;
    bottom: 1260px;
}

/*get in  toc section*/
.reach{
    width: 90vw;
    height: 800px;
    margin: auto;
    margin-top: 100px;
}

.touch{
    position: relative;
    left: 350px;
    top:50px;
    font-size:50px;
    width: 50%;
}

.touchT{
    font-size: 18px;
    position: relative;
    top: 80px;
    left: 150px;
    width: 80%;
}
form{
    position: relative;
    top: 80px;
    left: 150px;
    width: 70%;
}
.send{
    position: relative;
    left: 380px;
}

.footer{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Ficons li{
    margin-left: 5px;
    position: relative;
    left: 600px;
}

 /*general classes*/
/*.tablet-only{
    display: none;
}*/
.desktop-only{
    display: block
}
.copy{
    position: relative;
    left: 620px;

}
.nna{
    position: relative;
    left: 775px;

}
 /*header section*/
/* .block{
     margin-top: 10px;
 }

 .red-block{
     background-color: red;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-left: 200px;

 }*/
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}