html{
    max-width: 100vw;
    overflow-x: hidden;
}

body{
    background-color:#204051;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin:0;
    overflow-x: hidden;    
}




/* fonts */
.hi h1{
    font-weight: 200;
    font-size: 2.5em;
    color: white;
}
span{
    color: #b6eb7a;
}
.tag{
    color: #b6eb7a;
    font-weight: 500;
    font-size: 1.2em;
}
.tag span{
    color:white;
}
h1{
    font-size: 2em;
    font-weight: 300    ;
    color:  #b6eb7a;
}
h1.name {
    color: #84a9ac;
    font-size: 2.5em;
}

/* buttons */
.btn{
    border-radius: 50px;
}
.btn-primary{
    background:#204051;
    border: none;
    width: 250px;
}
.btn-primary:hover, .btn-primary:focus{
    background: #84a9ac;
    transition: 0.5s;
}
.journey{
    background-color: gray;
    margin-bottom: 10px;
}


/*contact section*/
.form{
    border: none;
}
.form input {
    background-color: #e7dfd5;
    height:30px;
}
.form textarea{
    background-color: #e7dfd5;

}
.form ::placeholder{
    color: #204051;
}
/*footer section*/
.f-name{
    font-size: 10px;
}
.f-name strong{
    color: #b6eb7a;
}


/*general classes*/

.hide-on-mobile{
   display: none; 
}
.mobile-only{
    display: block;
}
.mobile-only-mt{
    margin-top: 40px;
}

.grey{
    background: #3b6978;
}

/* mobile menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 100;
    background: #204051;
    height: 100vh;
    padding-top: 20vh;
    transition: left 0.5s;
}
.mobile-menu a{
    color: #84a9ac;
    font-weight: 500;
    font-size: 2em;
}
.mobile-menu a.active{
    color: #b6eb7a;
}

.all-icons{
    z-index: 200;
}
/*header section*/
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.icons li{
    display: inline-block;
}
.icon{
    border: 1px solid #84a9ac;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
    padding-top: 1px;
    text-align: center;
}
.icon a{
    color: #84a9ac;
    transition: color 0.5s;
}
.icon a:hover{
    color: #b6eb7a;
}
.icon-menu{
    float: right;
    color: #84a9ac;
}
hr{
    border-top: 1px solid white;
}
a.active{
    font-weight: 500!important;
}

/* about me section */
img.profile-image{
    width: 70%;
    box-shadow: -30px -30px #204051;
    border: 2px solid white;
}

/* testimonial */
.orange-block{
    background: #204051;
    width: 100%;
    height: 120px;
}
.orange-block a{
    color: white;
    font-weight: 500;
}
.orange-block a :hover{
    color: #b6eb7a;
}
/*I want to move the names to the right*/
.lecture{
    text-align: right;
}
/*reduced the font on mobile*/
.ttext{
    font-size: 15px;
}

/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
    /* about section */
    img.profile-image {
        width: 20%;
    }
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) 
{
    /* general classes*/
   .mobile-only{
        display: none;
    }
    .tablet-only{
        display: block;
    }

    /* about section */
    .profile-image {
        width: 20vw; 
    }


    /* ---Start Spacing / Layout Styles--- */
.margin-left-40
{
    margin-left: 40px;
}

.margin-left-50
{
    margin-left: 50px;
}

.margin-left-80
{
    margin-left: 80px;
}
/* ---End Spacing / Layout Styles--- */

}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
   /*general classes*/

   /* about section */
   img.profile-image {
    width: 50%;
}
 
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/*general classes*/

}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 

   .tablet-down{
        display: none;
    }
    .desktop-only{
        display: block;
    }
    .mobile-only-mt{
        margin-top: 0;
    }
    .desktop-only-mt{
        margin-top: 5vh!important;
    }
    
    .container-fluid{
        max-width: 90vw;
        margin: auto;
    }
    .hi{font-size: 3em;
        font-weight: 200;
    
    }
    .arrow{
        color: #b6eb7a;
        height: 45px;
        width: 30px;
        border: #b6eb7a 1px solid;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        left: 30vw;
        font-weight: 500;
    }

    .grey{
        padding: 50px 200px!important;
    }

    /* header */
    .icons{
        float: right;
    }
    .desktop-menu li{
        display: inline-block;
        margin: 0 10px;
        text-transform: uppercase;
    }
    .desktop-menu a{
        color: #84a9ac;
        font-weight: 200;
        transition: color 0.5s;
    }
    .desktop-menu a:hover{
        text-decoration: none;
        color: #b6eb7a;
    }
    .desktop-menu a.active{
        color: #b6eb7a;
    }

    /* about section */
    img.profile-image{
        width: 20vw;
    }
    .ngami{
        margin-left: 30px;
        
    }
    .footer{
        margin-left: 150px;
    }



    /* ---Start Spacing / Layout Styles--- */
.margin-left-40
{
    margin-left: 40px;
}

.margin-left-50
{
    margin-left: 50px;
}

.margin-left-80
{
    margin-left: 80px;
}
/* ---End Spacing / Layout Styles--- */

}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}